/* styles.css */

/* Global Styles */




.form-group {
  margin-bottom: 10px;
}

/* .btn2 button {
  width: 40px;
  height: 40px;
  margin: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
} */

.btn2:hover {
  transform: scale(1.1);
}

.btn2:active {
  transform: scale(0.9);
}

/*.delete-btn {
  background-color: #ff4444;
   color: white;
  border-radius: 50%;
} */

/* .edit-btn {
  background-color: #3366ff; 
  color: white;
  border-radius: 50%;
} */
.employee-form {
  min-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  margin: 20px;

} 
mat-form-field {
  display: block;
}
.animated-button {
  transition: transform 0.3s ease-in-out;
}

.animated-button:hover {
  transform: scale(1.1);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
